{% extends "base.html" %}
{% block title %}Australia{% endblock %}
{% block content %}
<div class="row">
    <div class="col-12 col-md-9">
	<h3>Victor Piñana 02/03/2023</h3>
        <p><strong>Hola Dawbio!</strong>, officially the <strong>Commonwealth o Australia</strong>, is a sovereign country
            comprising the mainland of the Australian continent, the island of Tasmania, and numerous smaller islands.
        </p>
        <p>Si treieu un 10, us invitem a Australia, i si treieu un 0 ens inviteu vosaltres</p>
    </div>
    <div class="col-6 col-md-3">
        <img class="img-fluid" src="/static/australia.jpg" alt="Australia satelite plane">
    </div>
</div>
<div>
<table width="643" cellpadding="2" cellspacing="0">
	<col width="638"/>

	<tr>
		<td width="638" style="border-top: 1px solid #7f7f7f; border-bottom: none; border-left: none; border-right: 1px solid #7f7f7f; padding-top: 0.05cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0.08cm"><p>
			<font size="3" style="font-size: 12pt"><i><font face="Calibri, Arial">Achnanthes
			</font><font face="Calibri, Arial"><font size="2" style="font-size: 11pt">adnata
			</font></font></i><span style="font-variant: normal"><font face="Calibri, Arial"><font size="2" style="font-size: 11pt"><span style="font-style: normal">Borys
			</span></font></font></span></font>
			</p>
		</td>
	</tr>
	<tr>
		<td width="638" style="border-top: none; border-bottom: none; border-left: none; border-right: 1px solid #7f7f7f; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0.08cm"><p>
			<font size="3" style="font-size: 12pt"><i><font face="Calibri, Arial">Achnanthes
			</font><font face="Calibri, Arial"><font size="2" style="font-size: 11pt">coarctata
			</font></font></i><span style="font-variant: normal"><font face="Calibri, Arial"><font size="2" style="font-size: 11pt"><span style="font-style: normal">(Brébisson
			ex W.Smith) Grunow </span></font></font></span></font>
			</p>
		</td>
	</tr>
	<tr>
		<td width="638" style="border-top: none; border-bottom: none; border-left: none; border-right: 1px solid #7f7f7f; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0.08cm"><p>
			<font size="3" style="font-size: 12pt"><i><font face="Calibri, Arial">Achnanthes
			</font><font face="Calibri, Arial"><font size="2" style="font-size: 11pt">cogitata
			</font></font></i><span style="font-variant: normal"><font face="Calibri, Arial"><font size="2" style="font-size: 11pt"><span style="font-style: normal">R.Archibald
			</span></font></font></span></font>
			</p>
		</td>
	</tr>
	<tr>
		<td width="638" style="border-top: none; border-bottom: none; border-left: none; border-right: 1px solid #7f7f7f; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0.08cm"><p>
			<font size="3" style="font-size: 12pt"><i><font face="Calibri, Arial">Achnanthes
			</font><font face="Calibri, Arial"><font size="2" style="font-size: 11pt">inflata
			</font></font></i><span style="font-variant: normal"><font face="Calibri, Arial"><font size="2" style="font-size: 11pt"><span style="font-style: normal">(Kützing)
			Grunow </span></font></font></span></font>
			</p>
		</td>
	</tr>
	<tr>
		<td width="638" style="border-top: none; border-bottom: none; border-left: none; border-right: 1px solid #7f7f7f; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0.08cm"><p>
			<font size="3" style="font-size: 12pt"><i><font face="Calibri, Arial">Achnanthes
			</font><font face="Calibri, Arial"><font size="2" style="font-size: 11pt">intermedia
			</font></font></i><span style="font-variant: normal"><font face="Calibri, Arial"><font size="2" style="font-size: 11pt"><span style="font-style: normal">Kützing
			</span></font></font></span></font>
			</p>
		</td>
	</tr>
	<tr>
		<td width="638" style="border-top: none; border-bottom: none; border-left: none; border-right: 1px solid #7f7f7f; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0.08cm"><p>
			<font size="3" style="font-size: 12pt"><i><font face="Calibri, Arial">Achnanthes
			</font><font face="Calibri, Arial"><font size="2" style="font-size: 11pt">pseudobliqua
			</font></font></i><span style="font-variant: normal"><font face="Calibri, Arial"><font size="2" style="font-size: 11pt"><span style="font-style: normal">Simonsen
			</span></font></font></span></font>
			</p>
		</td>
	</tr>
	<tr>
		<td width="638" style="border-top: none; border-bottom: none; border-left: none; border-right: 1px solid #7f7f7f; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0.08cm"><p>
			<font size="3" style="font-size: 12pt"><i><font face="Calibri, Arial">Achnanthes
			</font><font face="Calibri, Arial"><font size="2" style="font-size: 11pt">ventralis
			</font></font></i><span style="font-variant: normal"><font face="Calibri, Arial"><font size="2" style="font-size: 11pt"><span style="font-style: normal">(Krasske)
			Lange-Bertalot </span></font></font></span></font>
			</p>
		</td>
	</tr>
	<tr>
		<td width="638" style="border-top: none; border-bottom: none; border-left: none; border-right: 1px solid #7f7f7f; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0.08cm"><p>
			<font size="3" style="font-size: 12pt"><i><font face="Calibri, Arial">Achnanthidium
			</font><font face="Calibri, Arial"><font size="2" style="font-size: 11pt">affine
			</font></font></i><span style="font-variant: normal"><font face="Calibri, Arial"><font size="2" style="font-size: 11pt"><span style="font-style: normal">(Grunow)
			Czarnecki </span></font></font></span></font>
			</p>
		</td>
	</tr>
	<tr>
		<td width="638" style="border-top: none; border-bottom: none; border-left: none; border-right: 1px solid #7f7f7f; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0.08cm"><p>
			<font size="3" style="font-size: 12pt"><i><font face="Calibri, Arial">Achnanthidium
			</font><font face="Calibri, Arial"><font size="2" style="font-size: 11pt">alteragracillimum
			</font></font></i><span style="font-variant: normal"><font face="Calibri, Arial"><font size="2" style="font-size: 11pt"><span style="font-style: normal">Round
			&amp; Bukhtiyarova </span></font></font></span></font>
			</p>
		</td>
	</tr>
	<tr>
		<td width="638" style="border-top: none; border-bottom: none; border-left: none; border-right: 1px solid #7f7f7f; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0.08cm"><p>
			<font size="3" style="font-size: 12pt"><i><font face="Calibri, Arial">Achnanthidium
			</font><font face="Calibri, Arial"><font size="2" style="font-size: 11pt">anastasiae
			</font></font></i><span style="font-variant: normal"><font face="Calibri, Arial"><font size="2" style="font-size: 11pt"><span style="font-style: normal">(Kaczmarska)
			Chaudev &amp; Gololobova </span></font></font></span></font>
			</p>
		</td>
	</tr>
	<tr>
		<td width="638" style="border-top: none; border-bottom: none; border-left: none; border-right: 1px solid #7f7f7f; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0.08cm"><p>
			<font size="3" style="font-size: 12pt"><i><font face="Calibri, Arial">Achnanthidium
			</font><font face="Calibri, Arial"><font size="2" style="font-size: 11pt">atomoides
			</font></font></i><span style="font-variant: normal"><font face="Calibri, Arial"><font size="2" style="font-size: 11pt"><span style="font-style: normal">Monnier,
			Lange-Bertalot &amp; Ector </span></font></font></span></font>
			</p>
		</td>
	</tr>
	<tr>
		<td width="638" style="border-top: none; border-bottom: none; border-left: none; border-right: 1px solid #7f7f7f; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0.08cm"><p>
			<font size="3" style="font-size: 12pt"><i><font face="Calibri, Arial">Achnanthidium
			</font><font face="Calibri, Arial"><font size="2" style="font-size: 11pt">atomus
			</font></font></i><span style="font-variant: normal"><font face="Calibri, Arial"><font size="2" style="font-size: 11pt"><span style="font-style: normal">(Hustedt)
			Monnier, Lange-Bertalot &amp; Ector </span></font></font></span></font>
			</p>
		</td>
	</tr>
	<tr>
		<td width="638" style="border-top: none; border-bottom: none; border-left: none; border-right: 1px solid #7f7f7f; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0.08cm"><p>
			<font size="3" style="font-size: 12pt"><i><font face="Calibri, Arial">Achnanthidium
			</font><font face="Calibri, Arial"><font size="2" style="font-size: 11pt">barbei
			</font></font></i><span style="font-variant: normal"><font face="Calibri, Arial"><font size="2" style="font-size: 11pt"><span style="font-style: normal">R.Le
			Cohu &amp; F.Peres </span></font></font></span></font>
			</p>
		</td>
	</tr>
	<tr>
		<td width="638" style="border-top: none; border-bottom: none; border-left: none; border-right: 1px solid #7f7f7f; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0.08cm"><p>
			<font size="3" style="font-size: 12pt"><i><font face="Calibri, Arial">Achnanthidium
			</font><font face="Calibri, Arial"><font size="2" style="font-size: 11pt">caledonicum
			</font></font></i><span style="font-variant: normal"><font face="Calibri, Arial"><font size="2" style="font-size: 11pt"><span style="font-style: normal">(Lange-Bertalot)
			Lange-Bertalot </span></font></font></span></font>
			</p>
		</td>
	</tr>
	<tr>
		<td width="638" style="border-top: none; border-bottom: none; border-left: none; border-right: 1px solid #7f7f7f; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0.08cm"><p>
			<font size="3" style="font-size: 12pt"><i><font face="Calibri, Arial">Achnanthidium
			</font><font face="Calibri, Arial"><font size="2" style="font-size: 11pt">catenatum
			</font></font></i><span style="font-variant: normal"><font face="Calibri, Arial"><font size="2" style="font-size: 11pt"><span style="font-style: normal">(Bily
			&amp; Marvan) Lange-Bertalot </span></font></font></span></font>
			</p>
		</td>
	</tr>
	<tr>
		<td width="638" style="border-top: none; border-bottom: none; border-left: none; border-right: 1px solid #7f7f7f; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0.08cm"><p>
			<font size="3" style="font-size: 12pt"><i><font face="Calibri, Arial">Achnanthidium
			</font><font face="Calibri, Arial"><font size="2" style="font-size: 11pt">costei
			</font></font></i><span style="font-variant: normal"><font face="Calibri, Arial"><font size="2" style="font-size: 11pt"><span style="font-style: normal">R.Le
			Cohu &amp; F.Peres </span></font></font></span></font>
			</p>
		</td>
	</tr>
	<tr>
		<td width="638" style="border-top: none; border-bottom: none; border-left: none; border-right: 1px solid #7f7f7f; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0.08cm"><p>
			<font size="3" style="font-size: 12pt"><i><font face="Calibri, Arial">Achnanthidium
			</font><font face="Calibri, Arial"><font size="2" style="font-size: 11pt">delmontii
			</font></font></i><span style="font-variant: normal"><font face="Calibri, Arial"><font size="2" style="font-size: 11pt"><span style="font-style: normal">F.Pérès,
			R.le Cohu &amp; A.Barthès </span></font></font></span></font>
			</p>
		</td>
	</tr>
	<tr>
		<td width="638" style="border-top: none; border-bottom: none; border-left: none; border-right: 1px solid #7f7f7f; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0.08cm"><p>
			<font size="3" style="font-size: 12pt"><i><font face="Calibri, Arial">Achnanthidium
			</font><font face="Calibri, Arial"><font size="2" style="font-size: 11pt">druartii
			</font></font></i><span style="font-variant: normal"><font face="Calibri, Arial"><font size="2" style="font-size: 11pt"><span style="font-style: normal">Rimet
			&amp; Couté </span></font></font></span></font>
			</p>
		</td>
	</tr>
	<tr>
		<td width="638" style="border-top: none; border-bottom: none; border-left: none; border-right: 1px solid #7f7f7f; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0.08cm"><p>
			<font size="3" style="font-size: 12pt"><i><font face="Calibri, Arial">Achnanthidium
			</font><font face="Calibri, Arial"><font size="2" style="font-size: 11pt">eutrophilum
			</font></font></i><span style="font-variant: normal"><font face="Calibri, Arial"><font size="2" style="font-size: 11pt"><span style="font-style: normal">(Lange-Bertalot)
			Lange-Bertalot </span></font></font></span></font>
			</p>
		</td>
	</tr>
	<tr>
		<td width="638" style="border-top: none; border-bottom: none; border-left: none; border-right: 1px solid #7f7f7f; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0.08cm"><p>
			<font size="3" style="font-size: 12pt"><i><font face="Calibri, Arial">Achnanthidium
			</font><font face="Calibri, Arial"><font size="2" style="font-size: 11pt">exile
			</font></font></i><span style="font-variant: normal"><font face="Calibri, Arial"><font size="2" style="font-size: 11pt"><span style="font-style: normal">(Kützing)
			Heiberg </span></font></font></span></font>
			</p>
		</td>
	</tr>
	<tr>
		<td width="638" style="border-top: none; border-bottom: none; border-left: none; border-right: 1px solid #7f7f7f; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0.08cm"><p>
			<font size="3" style="font-size: 12pt"><i><font face="Calibri, Arial">Achnanthidium
			</font><font face="Calibri, Arial"><font size="2" style="font-size: 11pt">gracillimum
			</font></font></i><span style="font-variant: normal"><font face="Calibri, Arial"><font size="2" style="font-size: 11pt"><span style="font-style: normal">(F.Meister)
			Lange-Bertalot </span></font></font></span></font>
			</p>
		</td>
	</tr>
	<tr>
		<td width="638" style="border-top: none; border-bottom: none; border-left: none; border-right: 1px solid #7f7f7f; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0.08cm"><p>
			<font size="3" style="font-size: 12pt"><i><font face="Calibri, Arial">Achnanthidium
			</font><font face="Calibri, Arial"><font size="2" style="font-size: 11pt">jackii
			</font></font></i><span style="font-variant: normal"><font face="Calibri, Arial"><font size="2" style="font-size: 11pt"><span style="font-style: normal">Rabenhorst
			</span></font></font></span></font>
			</p>
		</td>
	</tr>
	<tr>
		<td width="638" style="border-top: none; border-bottom: none; border-left: none; border-right: 1px solid #7f7f7f; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0.08cm"><p>
			<font size="3" style="font-size: 12pt"><i><font face="Calibri, Arial">Achnanthidium
			</font><font face="Calibri, Arial"><font size="2" style="font-size: 11pt">kranzii
			</font></font></i><span style="font-variant: normal"><font face="Calibri, Arial"><font size="2" style="font-size: 11pt"><span style="font-style: normal">(Lange-Bertalot)
			Round &amp; Bukhtiyarova </span></font></font></span></font>
			</p>
		</td>
	</tr>
	<tr>
		<td width="638" style="border-top: none; border-bottom: none; border-left: none; border-right: 1px solid #7f7f7f; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0.08cm"><p>
			<font size="3" style="font-size: 12pt"><i><font face="Calibri, Arial">Achnanthidium
			</font><font face="Calibri, Arial"><font size="2" style="font-size: 11pt">latecephalum
			</font></font></i><span style="font-variant: normal"><font face="Calibri, Arial"><font size="2" style="font-size: 11pt"><span style="font-style: normal">H.Kobayasi
			</span></font></font></span></font>
			</p>
		</td>
	</tr>
	<tr>
		<td width="638" style="border-top: none; border-bottom: none; border-left: none; border-right: 1px solid #7f7f7f; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0.08cm"><p>
			<font size="3" style="font-size: 12pt"><i><font face="Calibri, Arial">Achnanthidium
			</font><font face="Calibri, Arial"><font size="2" style="font-size: 11pt">lineare
			</font></font></i><span style="font-variant: normal"><font face="Calibri, Arial"><font size="2" style="font-size: 11pt"><span style="font-style: normal">W.Smith
			</span></font></font></span></font>
			</p>
		</td>
	</tr>
	<tr>
		<td width="638" style="border-top: none; border-bottom: none; border-left: none; border-right: 1px solid #7f7f7f; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0.08cm"><p>
			<font size="3" style="font-size: 12pt"><i><font face="Calibri, Arial">Achnanthidium
			</font><font face="Calibri, Arial"><font size="2" style="font-size: 11pt">macrocephalum
			</font></font></i><span style="font-variant: normal"><font face="Calibri, Arial"><font size="2" style="font-size: 11pt"><span style="font-style: normal">(Hustedt)
			Round &amp; Bukhtiyarova </span></font></font></span></font>
			</p>
		</td>
	</tr>
	<tr>
		<td width="638" style="border-top: none; border-bottom: none; border-left: none; border-right: 1px solid #7f7f7f; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0.08cm"><p>
			<font size="3" style="font-size: 12pt"><i><font face="Calibri, Arial">Achnanthidium
			</font><font face="Calibri, Arial"><font size="2" style="font-size: 11pt">minutissimum
			</font></font></i><span style="font-variant: normal"><font face="Calibri, Arial"><font size="2" style="font-size: 11pt"><span style="font-style: normal">(Kützing)
			Czarnecki </span></font></font></span></font>
			</p>
		</td>
	</tr>
	<tr>
		<td width="638" style="border-top: none; border-bottom: none; border-left: none; border-right: 1px solid #7f7f7f; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0.08cm"><p>
			<font size="3" style="font-size: 12pt"><i><font face="Calibri, Arial">Achnanthidium
			</font><font face="Calibri, Arial"><font size="2" style="font-size: 11pt">neomicrocephalum
			</font></font></i><span style="font-variant: normal"><font face="Calibri, Arial"><font size="2" style="font-size: 11pt"><span style="font-style: normal">Lange-Bertalot
			&amp; F.Staab </span></font></font></span></font>
			</p>
		</td>
	</tr>
	<tr>
		<td width="638" style="border-top: none; border-bottom: none; border-left: none; border-right: 1px solid #7f7f7f; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0.08cm"><p>
			<font size="3" style="font-size: 12pt"><i><font face="Calibri, Arial">Achnanthidium
			</font><font face="Calibri, Arial"><font size="2" style="font-size: 11pt">pusillum
			</font></font></i><span style="font-variant: normal"><font face="Calibri, Arial"><font size="2" style="font-size: 11pt"><span style="font-style: normal">(Grunow)
			Czarnecki </span></font></font></span></font>
			</p>
		</td>
	</tr>
	<tr>
		<td width="638" style="border-top: none; border-bottom: none; border-left: none; border-right: 1px solid #7f7f7f; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0.08cm"><p>
			<font size="3" style="font-size: 12pt"><i><font face="Calibri, Arial">Achnanthidium
			</font><font face="Calibri, Arial"><font size="2" style="font-size: 11pt">pyrenaicum
			</font></font></i><span style="font-variant: normal"><font face="Calibri, Arial"><font size="2" style="font-size: 11pt"><span style="font-style: normal">(Hustedt)
			H.Kobayasi </span></font></font></span></font>
			</p>
		</td>
	</tr>
	<tr>
		<td width="638" style="border-top: none; border-bottom: none; border-left: none; border-right: 1px solid #7f7f7f; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0.08cm"><p>
			<font size="3" style="font-size: 12pt"><i><font face="Calibri, Arial">Achnanthidium
			</font><font face="Calibri, Arial"><font size="2" style="font-size: 11pt">rivulare
			</font></font></i><span style="font-variant: normal"><font face="Calibri, Arial"><font size="2" style="font-size: 11pt"><span style="font-style: normal">Potapova
			&amp; Ponader </span></font></font></span></font>
			</p>
		</td>
	</tr>
	<tr>
		<td width="638" style="border-top: none; border-bottom: none; border-left: none; border-right: 1px solid #7f7f7f; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0.08cm"><p>
			<font size="3" style="font-size: 12pt"><i><font face="Calibri, Arial">Achnanthidium
			</font><font face="Calibri, Arial"><font size="2" style="font-size: 11pt">rosenstockii
			</font></font></i><span style="font-variant: normal"><font face="Calibri, Arial"><font size="2" style="font-size: 11pt"><span style="font-style: normal">(Lange-Bertalot)
			Lange-Bertalot </span></font></font></span></font>
			</p>
		</td>
	</tr>
	<tr>
		<td width="638" style="border-top: none; border-bottom: none; border-left: none; border-right: 1px solid #7f7f7f; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0.08cm"><p>
			<font size="3" style="font-size: 12pt"><i><font face="Calibri, Arial">Achnanthidium
			</font><font face="Calibri, Arial"><font size="2" style="font-size: 11pt">rostropyrenaicum
			</font></font></i><span style="font-variant: normal"><font face="Calibri, Arial"><font size="2" style="font-size: 11pt"><span style="font-style: normal">I.Jüttner
			&amp; E.J.Cox </span></font></font></span></font>
			</p>
		</td>
	</tr>
	<tr>
		<td width="638" style="border-top: none; border-bottom: none; border-left: none; border-right: 1px solid #7f7f7f; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0.08cm"><p>
			<font size="3" style="font-size: 12pt"><i><font face="Calibri, Arial">Achnanthidium
			</font><font face="Calibri, Arial"><font size="2" style="font-size: 11pt">saprophilum
			</font></font></i><span style="font-variant: normal"><font face="Calibri, Arial"><font size="2" style="font-size: 11pt"><span style="font-style: normal">(H.Kobayashi
			&amp; Mayama) Round &amp; Bukhtiyarova </span></font></font></span></font>
			</p>
		</td>
	</tr>
	<tr>
		<td width="638" style="border-top: none; border-bottom: none; border-left: none; border-right: 1px solid #7f7f7f; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0.08cm"><p>
			<font size="3" style="font-size: 12pt"><i><font face="Calibri, Arial">Achnanthidium
			</font><font face="Calibri, Arial"><font size="2" style="font-size: 11pt">straubianum
			</font></font></i><span style="font-variant: normal"><font face="Calibri, Arial"><font size="2" style="font-size: 11pt"><span style="font-style: normal">(Lange-Bertalot)
			Lange-Bertalot </span></font></font></span></font>
			</p>
		</td>
	</tr>

</div>
{% endblock %}
